/* halstyle.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    text-align: right;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
h1 {
    color: green ;
    font-size: 24px;
    text-align:center;
}
#loanForm{
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: #f9f9f9;
}
input{
    float: left;
    margin-left: 15vw;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}
button{
    
    color: white;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}
.submitdata{
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.clearall{
    background-color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.tdtoz{
    width: 20vw;
}

@media screen and (max-width: 600px) {
    #loanForm {
        width: 100vw;
        margin:10px 0px;
        box-sizing: border-box;
        padding:10px;
    }
    .tdtoz{
        width: 20vw;
    }
    
}
