


/* הגדרות כלליות */

   header{width: 100vw;height: 22vh;position: fixed;top:0;background-color: #333;
   z-index:100;}
   body{padding-top: 2vh;}
   .kot h1{color:rgb(89, 227, 89);position: absolute; left: 50%; transform: translateX(-50%);
       top: 1vh;}
   .kot h2{color:white;position: absolute; left: 50%; transform: translateX(-50%);top: 7vh;}

   
   @media only screen and (min-width: 767px){
    .logo{position: fixed;right: 6vw;top:3vh;width:100px; height:auto;}
    header{width: 100vw;height: 18vh;position: fixed;top:0;background-color: #333;
   }
    .kot h1{font-size: 35px;margin-top: 0px;padding-top:0;}
    .kot h2{font-size: 27px;margin-top: 10px;}
  }
  
  
  @media only screen and (max-width: 768px){
    .logo{position: fixed;right: 4vw;top:3vh;width:100px; height:auto;}
    header{width: 100vw;height: 18vh;}
    .kot h1{font-size: 30px;margin-top: 0px;padding-top:0;}
    .kot h2{font-size: 22px;margin-top: 10px;white-space:nowrap;}
  }

  @media only screen and (max-width: 500px){
    .logo{position: fixed;right: 2vw;top:1.5vh;width:55px; height:auto;}
  }
  @media only screen and (max-width: 320px){
    .logo{position: fixed;right: 2vw;top:1.5vh;width:55px; height:auto;}
  }
   
