body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 2.5%;
    width: 95%;
    height: 160px; 
	background-color:white;
    z-index: 1000;
	
	 
}
.kotdiv{
	float: left;
	min-width: 150px;
	width: 150px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.logo{	margin: 0px;padding: 0px;width: 120px;height: 120px;}

.kotdiv h3 {margin: 0;margin-top:-10px;font-size: 25px;
	color: rgb(89,237,89);
	text-align: center;
	width: 150px;

}

.header h2 {margin: 0;font-size: clamp(2rem, 5vw, 3rem);
	color: #634949;
	width: 80vw;
	text-align: center;
	padding-right:12.5% ;
	line-height: 160px;
	font-weight: bolder;
}
nav {
	float: right;
	position: fixed; 
	top: 160px; 
	left: 2.5%;
    width: 95%;
	height: 50px;
	border-color: #e8e0e0;
	background-color: #fff;
	box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.4), 0px -5px 0px rgba(0, 0, 0, 0.4); 
	

}
.allmenu{
	display:flex;
	flex-direction: row;
	justify-content: right;
	background-color: white;
}
.allmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;	
}
.allmenu ul a {
	text-decoration: none;
	color: #333;
}
.bar1,.bar2,.bar3{width: 35px;height: 4px;margin: 7px;
	background-color: #333;z-index: 10;transition: 0.4s;}
.tafrit{
	display: none;
}
.ser h3{
	margin: 0;
	font-size: 1.5rem;
	color: #333;
	line-height: 50px;
	text-align: center;
	width: clamp(150px, 20vw, 200px);
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: clamp(150px, 20vw, 200px);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.ser{margin-left:25px;}
nav .ser:hover .dropdown-content{
	display: block;
}
nav .ser:hover{
	background-color: rgb(212, 204, 204);
}
.ser li{
	line-height: 40px;
	text-align: right;
	padding-right: clamp(0px, 2vw, 45px);

}
.ser li:hover {
	background-color: #333;
	
}
.ser li:hover a{
	color: white;
}
.bar1,.bar2,.bar3{width: 35px;height: 4px;margin: 7px;
 background-color: #333;z-index: 10;transition: 0.4s;}
 
 @media only screen and (max-width: 992px){
 .ser h3{ font-size: 1.3rem;}
 }
 
@media only screen and (max-width: 768px){
  .tafrit{display: block;}
  .ser{display: none;}
  .sera{display: block;}
  .allmenu{	display:block;}
.header h2 {width:100vw;padding:0; margin:120px 0px 0px 0px;line-height: 50px;}
.ser h3,.ser ul, .ser li, .ser a{width:100vw; text-align:right;box-sizing:border-box;}
.ser h3,.ser li{padding-right:35vw;}

 .header h2 {margin: 0;font-size: clamp(2rem, 3.5vw, 3rem);
	text-align: center;
	width: 100vw;
	padding-right:12.5% ;
	line-height: 40px;
	font-weight: bolder;
	margin-top:130px;
}
.change .bar1 {transform: translate(0, 11px) rotate(-45deg);background-color: rgb(89, 227, 89);}
.change .bar2 {opacity: 0;}
.change .bar3 { transform: translate(0, -11px) rotate(45deg);background-color: rgb(89, 227, 89);}
 
}
