
* {margin: 0;padding: 0;box-sizing: border-box;}
body {font-family: Arial, sans-serif;color: #333;}

.hero {   
    
	width:90vw;
    padding-bottom: 20px;
	box-shadow: 10px 0 10px  -5px rgba(0,0,0,0.5),-10px 0px 10px -5px rgba(0,0,0,0.5);
	margin-right: 5vw;
	position:sticky;margin-top:0px;box-sizing:border-box;
	z-index:1000;
	
}

.hero-content h1{color:rgb(89,237,89);font-weight:bold;width:80vw;text-align:center;font-size:4vw;}
.hero-content h2{width:80vw;text-align:center;font-size:3.5vw;}
.ser,.dropdown-content{display:flex;flex-direction:column;width:15vw;}

.dropdown-content{display:none;}


.cta-btn{margin-top:200px;}
@media screen and (min-width:1023px){
	.allmenu{width:60vw;display:flex; justify-content:right;margin-right:5vw;
	box-sizing:border-box;
	margin-top:0px}
	
	.hero {height: 22vh;}
	.logo{position:absolute;width:10vw;height: 10vw;top:0vw;left:7vw;}
	.ser{position:sticky;margin-top:-4vh}
	.ser,.dropdown-content{margin-right: 5vw;}
}
@media screen and (max-width:1024px){
	.allmenu{width:60vw;display:flex; justify-content:right;margin-right:5vw;
	box-sizing:border-box;
	margin-top:0px}
	.hero {height: 21vh;}
	.logo{position:absolute;width:10vw;height: 10vw;top:0vw;left:7vw;}
	.ser{position:sticky;margin-top:-4vh;}
	.ser,.dropdown-content{margin-right: 5vw;}
	
}
@media screen and (max-width:992px){
	.hero {height: 21.5vh;}
	.logo{width:11vw;height: 11vw;}
	.hero-content h1{font-size:5.5vw;}
	.hero-content h2{font-size:4.5vw;}
	.ser h3{position:sticky;margin-top:0vh}
	.ser,.dropdown-content{width:20vw;}
	.ser,.dropdown-content{margin-right: 5vw;}
	.allmenu{width:65vw;}
	
@media screen and (max-width:768px){
	.hero {height: 20vh;}
	.logo{width:12vw;height: 12vw;}
	.hero-content h1{font-size:6vw;}
	.hero-content h2{font-size:5vw;}
	.allmenu{width:77vw;}
	.ser{width:25vw;}
	.ser,.dropdown-content{margin-right: 5vw;}
	
	
}
@media screen and (max-width:600px){
	.hero {height: 14vh;width:100vw;box-shadow: 0px 10px 5px rgba(0,0,0,0.5);margin-right: 0px;}
	.hero-content h2{font-size:5vw;}
	.hero-content h1{width:80vw;margin-top:2vh;}
	.logo{width:14vw;height: 14vw;}
	.allmenu{display:block;}
	.ser{position:relative;margin-top:0vh;width:95vw;text-align:center;padding:16px 12px;
	box-shadow: 0px 10px 5px rgba(0,0,0,0.5);margin-right:2.5vw;}
	 .allmenu{width:100vw;padding:0;margin:0;}
	 .hero-content{width:95vw;padding:0;margin:0; }
}
}
@media screen and (max-width:480px){
	.hero {height: 12vh;width:100vw;box-shadow: 0px 10px 5px rgba(0,0,0,0.5);
	margin-right: 0vw;}
	.logo{width:15.5vw;height: 15.5vw;}
	.hero-content h1{width:80vw;margin-top:2vh;}
	
}
@media screen and (max-width:360px){
	.hero {height: 10vh;}
	.logo{width:17vw;height: 17vw;margin-top:0.5vh;}
	.hero-content h2{font-size:5vw;}
	
}

